.wrapper-signin {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.form-signin {
  max-width: 330px;
  padding: 20px;
  margin: 0 auto;
  background: darkgrey;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 20px;
  margin-top: 5px;
  text-align: center;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"], .form-signin input[type="password"] {
  margin-bottom: 15px;
  height: 32px;
  border: 0;
  width: 100%;
}

.mat-raised-button {
  font-family: inherit;
  margin-left: auto;
}
