<div class="wrapper-signin">
  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="signIn(loginForm.value)">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div>
      <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>
      <input type="email" id="inputEmail" name="email" ngModel class="form-control" placeholder="Email address" required
             autofocus>
      <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password"
             required>
    </div>
    <div>
      <button mat-raised-button color="primary" type="submit">Sign in</button>
    </div>
  </form>
</div>
