.header {
  display: flex;
  justify-content: space-between;
}

mat-card, mat-form-field , mat-select , mat-option , button {
  font-family: inherit;
}

mat-form-field {
  width: 100%;
}

mat-card {
  margin-bottom: 15px;
  font-family: "Open Sans",sans-serif;
}
