<mat-card>
  <div class="header">
    <div class="title">Edit car</div>
    <div [routerLink]="'/cars'">All cars</div>
  </div>
</mat-card>
<div class="content">

  <mat-card>
    <form class="edit-form" #editForm="ngForm" (submit)="carFormService.isEdit ? updateCar(editForm) : addCar(editForm)">
      <mat-form-field class="full-width">
        <mat-select placeholder="Brand" [(value)]="editCar.id">
          <mat-option *ngFor="let brand of brands" [value]="brand.id" (click)="changeBrand(brand.id)">
            {{ brand.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Model" [(value)]="editCar.id">
          <mat-option *ngFor="let model of models" [value]="model.id">
            {{ model.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
      <input matInput type="number" id="year" name="year" min="1900" max="2018" [(ngModel)]="editCar.year" class="form-control" placeholder="Year" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="text" id="imgUrl" name="imgUrl" min="1900" max="2018" [(ngModel)]="editCar.imgUrl" prefix="http://" class="form-control" placeholder="Image url" required>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" type="submit" *ngIf="isEdit">Update car</button>
        <button mat-raised-button color="primary" type="submit" *ngIf="!isEdit">Add car</button>
      </div>
    </form>
  </mat-card>
</div>
