<mat-card>
  <div class="header">
    <div class="title">Cars</div>
  </div>
</mat-card>
<div class="content">
  <div class="cars-items">
    <mat-card>
      <div class="head">
        <div>Preview image</div>
        <div>Brand</div>
        <div>Model</div>
        <div>Year</div>
        <div>Actions</div>
      </div>
    </mat-card>
    <mat-card *ngIf="cars != ''">
      <ng-template ngFor let-item let-i="index" [ngForOf]="cars">
        <div class="body">
          <div><img src="{{item.imgUrl}}" alt=""></div>
          <div>{{item.brand}}</div>
          <div>{{item.model}}</div>
          <div>{{item.year}}</div>
          <div>
            <button mat-raised-button color="primary" (click)="carFormService.setFormStatus(true, item.id)"><i class="material-icons">edit</i></button>
            <button mat-raised-button color="warn" (click)="deleteCar(item)"> <i class="material-icons">delete</i></button>
          </div>
        </div>
      </ng-template>
    </mat-card>
    <mat-card>
      <button mat-raised-button color="primary" (click)="carFormService.setFormStatus(false)"><i class="material-icons">add</i> Add new car</button>
    </mat-card>
    <mat-card *ngIf="cars == ''">
      Cars not found
    </mat-card>
  </div>
</div>
