.title {
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

mat-icon {
  color: #333;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  height: auto;
  line-height: inherit;
}

mat-select {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  position: relative;
}

mat-card {
  margin-bottom: 15px;
  font-family: "Open Sans",sans-serif;
}


.cars-items {
  display: flex;
  flex-direction: column;
}

.head,.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: auto;

  div {
    width: 20%;
    text-align: center;
  }
}

.head {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}

.body {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;

  img {
    max-width: 100px;
    margin: 0 auto;
  }
}

button {
  font-family: inherit;
}
